In [1]:
import pandas as pd

## Batsman Names Normalization

In [2]:
df = pd.read_csv('final_batting_df.csv')
df.head()

,Match_id,Team,Opposite_Team,Innings,Batsman,Dismissal Type,Fielder,Bowler,Runs,Balls,Boundaries,Sixes,StrikeRate
0,1,England,New Zealand,1,Jonny Bairstow,Catch,Daryl Mitchell,Mitchell Santner,33,35,4,1,94.29
1,1,England,New Zealand,1,Dawid Malan,Catch,Latham,Matt Henry,14,24,2,0,58.33
2,1,England,New Zealand,1,Joe Root,Bowled,-,Glenn Phillips,77,86,4,1,89.53
3,1,England,New Zealand,1,Harry Brook,Catch,Devon Conway,Rachin Ravindra,25,16,4,1,156.25
4,1,England,New Zealand,1,Moeen Ali,Bowled,-,Glenn Phillips,11,17,1,0,64.71

In [28]:
# Normalization of Afghanistan Capitan Name

In [5]:
df[df['Team'] == 'Afghanistan']['Batsman'].unique()

array(['Rahmanullah Gurbaz', 'Ibrahim Zadran', 'Rahmat Shah',
       'Hashmatullah Shahidi (c)', 'Najibullah Zadran', 'Mohammad Nabi',
       'Azmatullah Omarzai', 'Rashid Khan', 'Mujeeb Ur Rahman',
       'Naveen-ul-Haq', 'Fazalhaq Farooqi', 'Gurbaz', 'Ikram Alikhil',
       'Noor Ahmad', 'Hashmatullah Shahidi'], dtype=object)

In [15]:
df['Batsman'].replace({'Hashmatullah Shahidi (c)': 'Hashmatullah Shahidi'},inplace=True)

In [16]:
df[df['Team'] == 'Afghanistan']['Batsman'].unique()

array(['Rahmanullah Gurbaz', 'Ibrahim Zadran', 'Rahmat Shah',
       'Hashmatullah Shahidi', 'Najibullah Zadran', 'Mohammad Nabi',
       'Azmatullah Omarzai', 'Rashid Khan', 'Mujeeb Ur Rahman',
       'Naveen-ul-Haq', 'Fazalhaq Farooqi', 'Gurbaz', 'Ikram Alikhil',
       'Noor Ahmad'], dtype=object)

In [18]:
df['Team'].unique()

array(['England', 'Pakistan', 'Afghanistan', 'South Africa', 'Australia',
       'New Zealand', 'Sri Lanka', 'Bangladesh', 'Netherlands', 'India'],
      dtype=object)

In [27]:
df[df['Team'] == 'India']['Batsman'].unique()

array(['Rohit Sharma', 'Shubman Gill', 'Virat Kohli', 'Shreyas Iyer',
       'KL Rahul', 'Suryakumar Yadav', 'Ravindra Jadeja',
       'Mohammed Shami', 'Jasprit Bumrah', 'Kuldeep Yadav',
       'Mohammed Siraj', 'Ishan Kishan', 'Hardik Pandya'], dtype=object)

In [19]:
df[df['Team'] == 'England']['Batsman'].unique()

array(['Jonny Bairstow', 'Dawid Malan', 'Joe Root', 'Harry Brook',
       'Moeen Ali', 'Jos Buttler', 'Liam Livingstone', 'Sam Curran',
       'Chris Woakes', 'Adil Rashid', 'Mark Wood', 'Reece Topley',
       'Ben Stokes', 'David Willey', 'Gus Atkinson'], dtype=object)

In [20]:
df[df['Team'] == 'Pakistan']['Batsman'].unique()

array(['Fakhar Zaman', 'Imam-ul-Haq', 'Babar Azam', 'Mohammad Rizwan',
       'Saud Shakeel', 'Iftikhar Ahmed', 'Mohammad Nawaz', 'Shadab Khan',
       'Hasan Ali', 'Shaheen Afridi', 'Haris Rauf', 'Shafique',
       'Mohammad Wasim Jr', 'Abdullah Shafique', 'Usama Mir',
       'Agha Salman'], dtype=object)

In [21]:
df[df['Team'] == 'South Africa']['Batsman'].unique()

array(['Quinton de Kock', 'Temba Bavuma', 'Rassie van der Dussen',
       'Aiden Markram', 'Heinrich Klaasen', 'David Miller',
       'Marco Jansen', 'Kagiso Rabada', 'Keshav Maharaj',
       'Reeza Hendricks', 'Gerald Coetzee', 'Tabraiz Shamsi',
       'Lungi Ngidi', 'Andile Phehlukwayo'], dtype=object)

In [22]:
df[df['Team'] == 'Australia']['Batsman'].unique()

array(['David Warner', 'Mitchell Marsh', 'Steven Smith',
       'Marnus Labuschagne', 'Glenn Maxwell', 'Alex Carey',
       'Cameron Green', 'Pat Cummins', 'Mitchell Starc', 'Adam Zampa',
       'Josh Hazlewood', 'Marcus Stoinis', 'Josh Inglis', 'Travis Head'],
      dtype=object)

In [23]:
df[df['Team'] == 'New Zealand']['Batsman'].unique()

array(['Devon Conway', 'Will Young', 'Rachin Ravindra', 'Daryl Mitchell',
       'Tom Latham', 'Glenn Phillips', 'Mark Chapman', 'Mitchell Santner',
       'Matt Henry', 'Lockie Ferguson', 'Trent Boult', 'Kane Williamson',
       'James Neesham', 'Tim Southee'], dtype=object)

In [24]:
df[df['Team'] == 'Sri Lanka']['Batsman'].unique()

array(['Pathum Nissanka', 'Kusal Perera', 'Kusal Mendis',
       'Sadeera Samarawickrama', 'Charith Asalanka',
       'Dhananjaya de Silva', 'Dasun Shanaka', 'Dunith Wellalage',
       'Maheesh Theekshana', 'Matheesha Pathirana', 'Dimuth Karunaratne',
       'Lahiru Kumara', 'Dilshan Madushanka', 'Angelo Mathews',
       'Dushmantha Chameera', 'Kasun Rajitha', 'Dushan Hemantha'],
      dtype=object)

In [25]:
df[df['Team'] == 'Bangladesh']['Batsman'].unique()

array(['Litton Das', 'Tanzid Hasan', 'Mehidy Hasan Miraz',
       'Najmul Hossain Shanto', 'Shakib Al Hasan', 'Mushfiqur Rahim',
       'Towhid Hridoy', 'Mahmudullah', 'Taskin Ahmed',
       'Mustafizur Rahman', 'Shoriful Islam', 'Nasum Ahmed',
       'Mahedi Hasan', 'Hasan Mahmud', 'Tanzim Hasan Sakib'], dtype=object)

In [26]:
df[df['Team'] == 'Netherlands']['Batsman'].unique()

array(['Vikramjit Singh', 'Max ODowd', 'Colin Ackermann', 'Bas de Leede',
       'Sybrand Engelbrecht', 'Teja Nidamanuru', 'Scott Edwards',
       'Logan van Beek', 'Roelof van der Merwe', 'Aryan Dutt',
       'Paul van Meekeren', 'Wesley Barresi', 'Shariz Ahmad',
       'Saqib Zulfiqar', 'Ryan Klein'], dtype=object)

## Bowler Names Normalization

In [29]:
df2 = pd.read_csv('final_bowling_df.csv')
df2.head()

,Match_id,Team,Opposite_Team,Innings,Bowler,Overs,Maidens,Runs,Wickets,No_Balls,Wides,Economy,Bowler_Type
0,1,New Zealand,England,1,Trent Boult,10.0,1,48,1,0,1,4.8,Left-arm Fast
1,1,New Zealand,England,1,Matt Henry,10.0,1,48,3,0,0,4.8,Right-arm Fast Medium
2,1,New Zealand,England,1,Mitchell Santner,10.0,0,37,2,0,1,3.7,Left-arm Orthodox Spin
3,1,New Zealand,England,1,Jimmy Neesham,7.0,0,56,0,0,4,8.0,Right-arm Medium-fast
4,1,New Zealand,England,1,Rachin Ravindra,10.0,0,76,1,0,0,7.6,Left-arm Orthodox Spin

In [30]:
df2['Team'].unique()

array(['New Zealand', 'Netherlands', 'Bangladesh', 'Sri Lanka', 'India',
       'Pakistan', 'Australia', 'England', 'South Africa', 'Afghanistan'],
      dtype=object)

In [34]:
df2[df2['Team'] == 'New Zealand']['Bowler'].unique() # Good

array(['Trent Boult', 'Matt Henry', 'Mitchell Santner', 'Jimmy Neesham',
       'Rachin Ravindra', 'Glenn Phillips', 'Lockie Ferguson',
       'Daryl Mitchell', 'Tim Southee', 'Ish Sodhi'], dtype=object)

In [35]:
df2[df2['Team'] == 'Netherlands']['Bowler'].unique() # Good

array(['Aryan Dutt', 'Logan van Beek', 'Colin Ackermann',
       'Paul van Meekeren', 'Bas de Leede', 'Roelof van der Merwe',
       'Vikramjit Singh', 'Saqib Zulfiqar', 'Ryan Klein', 'Shariz Ahmad'],
      dtype=object)

In [36]:
df2[df2['Team'] == 'Bangladesh']['Bowler'].unique() # Good

array(['Taskin Ahmed', 'Shoriful Islam', 'Mustafizur Rahman',
       'Shakib Al Hasan', 'Mehidy Hasan Miraz', 'Mahmudullah',
       'Mahedi Hasan', 'Hasan Mahmud', 'Nasum Ahmed',
       'Tanzim Hasan Sakib', 'Najmul Hossain Shanto'], dtype=object)

In [37]:
df2[df2['Team'] == 'Sri Lanka']['Bowler'].unique() # Good

array(['Lahiru Kumara', 'Dilshan Madushanka', 'Dasun Shanaka',
       'Dhananjaya de Silva', 'Matheesha Pathirana', 'Dunith Wellalage',
       'Dimuth Karunaratne', 'Maheesh Theekshana', 'Dushan Hemantha',
       'Angelo Mathews', 'Dushmantha Chameera', 'Charith Asalanka',
       'Chamika Karunaratne', 'Kasun Rajitha'], dtype=object)

In [38]:
df2[df2['Team'] == 'India']['Bowler'].unique() # Good

array(['Jasprit Bumrah', 'Mohammed Siraj', 'Hardik Pandya',
       'Ravichandran Ashwin', 'Kuldeep Yadav', 'Ravindra Jadeja',
       'Shardul Thakur', 'Virat Kohli', 'Mohammed Shami', 'Shubman Gill',
       'Suryakumar Yadav', 'Rohit Sharma'], dtype=object)

In [39]:
df2[df2['Team'] == 'Pakistan']['Bowler'].unique() # Good

array(['Shaheen Afridi', 'Hasan Ali', 'Mohammad Nawaz', 'Haris Rauf',
       'Shadab Khan', 'Iftikhar Ahmed', 'Usama Mir', 'Mohammad Wasim Jr',
       'Agha Salman'], dtype=object)

In [41]:
df2[df2['Team'] == 'Australia']['Bowler'].unique() # Good

array(['Mitchell Starc', 'Josh Hazlewood', 'Glenn Maxwell', 'Pat Cummins',
       'Adam Zampa', 'Mitchell Marsh', 'Marcus Stoinis', 'Travis Head',
       'Sean Abbott', 'Cameron Green'], dtype=object)

In [42]:
df2[df2['Team'] == 'England']['Bowler'].unique() # Good

array(['Chris Woakes', 'Reece Topley', 'Sam Curran', 'Adil Rashid',
       'Mark Wood', 'Liam Livingstone', 'Joe Root', 'David Willey',
       'Gus Atkinson', 'Moeen Ali'], dtype=object)

In [43]:
df2[df2['Team'] == 'South Africa']['Bowler'].unique() # Good

array(['Lungi Ngidi', 'Marco Jansen', 'Kagiso Rabada', 'Gerald Coetzee',
       'Keshav Maharaj', 'Aiden Markram', 'Tabraiz Shamsi', 'Phehlukwayo',
       'Lizaad Williams'], dtype=object)

In [44]:
df2[df2['Team'] == 'Afghanistan']['Bowler'].unique() # Good

array(['Mujeeb Ur Rahman', 'Fazalhaq Farooqi', 'Naveen-ul-Haq',
       'Mohammad Nabi', 'Rashid Khan', 'Azmatullah Omarzai', 'Noor Ahmad',
       'Rahmat Shah'], dtype=object)

In [40]:
df2['Team'].unique()

array(['New Zealand', 'Netherlands', 'Bangladesh', 'Sri Lanka', 'India',
       'Pakistan', 'Australia', 'England', 'South Africa', 'Afghanistan'],
      dtype=object)

In [50]:
df.to_csv("F:\Projects\CWC2023\ICC_CWC_2023_Data_Analysis\Data/final_batting_df.csv",index=False)